PORT=8200
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=cresco_new
DB_DIALECT=mysql
DB_TABLE_PREFIX=cre_
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
FRONTEND_URL=http://localhost:3000
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
